.footer__password {
    font-weight: 500;
    font-size: 14px;
    line-height: 135%;
    color: #B9BEC3;
    text-decoration: underline;
    margin-top: 12px;
    text-align: right;
}

.footer__password:hover {
    opacity: 0.6;
    cursor: pointer;
}